.navbar {
    padding: 20px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}
.header {
    margin-top: 25px;;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}
.containerGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "leftSidebar" "rightContent";
}
.rightContent {
    grid-area: "rightContent";
}
.leftSidebar {
    grid-area: "leftSidebar";
    border-right: 1px solid rgb(44, 44, 44);
    height: auto;
}
/* Font Styles */
h3 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
    margin-top: 25px;
}
.viewAll {
    margin-top: 40px;
    text-align: end;
}
/* Gaming Page */
.title {
    margin-bottom: 3px;
}
.card-img-top {
    height: 240px;
    width: 240px;
    border-radius: 10px;
}
.img-fluid {
    height: 200px;
    width: 500px;
    border-radius: 10px;
}
.card {
    border-radius: 10px;
}
.lastCard {
    margin-bottom: 50px;
}

/* Axie Infinity Page */
.breadcrumbs {
    margin-top: 25px;
    margin-left: 178px;
    font-size: 14px;
}
.nav-tabs {
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.navActive {
    border-bottom: 10px solid blueviolet;
}
.leftNav {
    position: fixed;
    padding-right: 100px;
}
.topMargin {
    margin-top: 25px;
}
.axieHomeGrid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "leftAxieContent" "rightAxieContent";
}
.leftAxieContent {
    grid-area: "leftAxieContent";
}
.rightAxieContent {
    grid-area: "rightAxieContent";
}
.axieListing {
    height: 109px;
    width: 109px;
    margin: 15px;
    border: 1px solid black;
}
/* Axie Infinity - Get Started */
.navTop {
    margin-top: 20px;
}
.activeMenu {
    color: blueviolet;
}
.menuTitle {
    font-variant-caps: all-small-caps;
    font-weight: 600;
    font-size: 18px;
}
.menuItem {
    color: rgb(139, 139, 139);
}
.sub-nav {
    text-decoration: none;
    color: black;
    margin: 5px;
    margin-bottom: 15px;
}
.activeSub {
    color: blueviolet;
}
ul {
    list-style: none;
}
.contentCard {
    margin: 15px;
    width: 1300px;
}
.cardTitle {
    margin-top: 25px;
    margin-left: 80px;
}
.pContentTop {
    margin-top: 25px;
    font-size: 20px;
}
.pContent {
    font-size: 20px;
}

/* Footer */
.social {
    height: 100px;
    weight: 100px;
    border: 1px solid black;
    margin: 40px;
}